* {
	background-color:oldlace;
	margin-left:10px;
}

.button{
	color:black;
	text-decoration: none; 
	user-select: none; 
	user-select: none;
	padding:5px 5px 5px 5px;
	display:inline;
	background: linear-gradient(to right, whitesmoke, tan);
	border: solid 1px lightgrey;
	font-size:20px;
	box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
}

.button:hover{background:linear-gradient(to right, whitesmoke, darkgray);}

#italic{font-style:italic;}
#bold{font-style:bold;}
#underline{text-decoration:underline;}

.color{
	color:black;
	text-decoration: none; 
	user-select: none; 
	padding:5px 5px 5px 5px;
	display:inline;
	font-size:20px;
	background: linear-gradient(to right, whitesmoke, tan);
	border: solid 1px lightgrey;
	box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
}

.color:hover{background:linear-gradient(to right, whitesmoke, darkgray);}


#red{color:red;}
#black{color:black;}
#green{color:limegreen;}
#blue{color:blue;}

#textbox{
	
	padding:15px 15px 15px 15px;
	width:800px;
	height:300px;
	font-family:Arial;
	font-size:19px;
	border: solid 3px tan;
	background:lemonchiffon;
	text-align:left;
	overflow:scroll;
}

#textbox::selection{
    color: #ff0; 
    background: #000; 
}

.button:active,.color:active,#resetbutton:active{box-shadow:none;}

#resetbutton, #savebutton{	
	box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
	font-size:17px;
	font-family:Arial;
}